repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: [--style=file]
      # - id: clang-tidy
      #   args: [-p=./build,--header-filter=.*]

  - repo: local
    hooks:
    - id: cppcheck
      name: cppcheck
      entry: cppcheck
      args: ["--enable=warning,performance,portability,style", --inline-suppr, --error-exitcode=1, --cppcheck-build-dir=./build, --language=c++, -I., --suppressions-list=./cppcheck.suppress]
      language: system
      types: [c++, c]