name: CI

permissions:
  contents: write

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        compiler: [g++, clang++]
        exclude: # Exclude macOS + GCC as it's not the default and requires extra setup
          - os: macos-latest
            compiler: g++

    steps:
    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '3.16.x'

    - name: install dependencies (Ubuntu)
      if: startsWith(matrix.os, 'ubuntu')
      shell: bash
      run: |
        sudo apt-get update
        # wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        # sudo add-apt-repository "deb http://apt.llvm.org/$(lsb_release -cs)/ llvm-toolchain-$(lsb_release -cs) main"
        sudo apt-get install -y gcc-10 llvm-20 valgrind clang-20 iwyu python3-dev cppcheck clang-tidy pipx
        echo 'eval "$(register-python-argcomplete pipx)"' >> ~/.bashrc
        source ~/.bashrc
        pipx install poetry
        sudo update-alternatives \
          --install /usr/bin/gcc gcc /usr/bin/gcc-10 100 \
          --slave /usr/bin/gcc-ar gcc-ar /usr/bin/gcc-ar-10 \
          --slave /usr/bin/gcc-ranlib gcc-ranlib /usr/bin/gcc-ranlib-10 \
          --slave /usr/bin/gcov gcov /usr/bin/gcov-10
        sudo update-alternatives \
          --install /usr/bin/llvm-ar llvm-ar /usr/bin/llvm-ar-20 100 \
          --slave /usr/bin/llvm-ranlib llvm-ranlib /usr/bin/llvm-ranlib-20 \
          --slave /usr/bin/llvm-cov llvm-cov /usr/bin/llvm-cov-20
        sudo update-alternatives \
          --install /usr/bin/clang clang /usr/bin/clang-20 100

    - name: install dependencies (Mac)
      if: startsWith(matrix.os, 'macos')
      run: |
        brew update
        brew install include-what-you-use llvm@20 lcov clang-format cppcheck coreutils poetry

    - name: python
      if: startsWith(matrix.os, 'macos')
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - uses: actions/checkout@v4

    - name: build
      run: |
        # Make with -fsanitize
        cmake -Bbuild -DCMAKE_CXX_COMPILER=${{ matrix.compiler }} -DIWYU=OFF -DCMAKE_BUILD_TYPE=Debug -DUSE_SANITIZER="Address;Undefined" -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

    - name: test
      run: |
        # Make with -fsanitize
        cmake --build build
        git submodule update --init --recursive
        cd python/chakram
        poetry install
        make install
        cd ../../
        ./build/test_suite
        export CREDENCE_ENV_HOME="$(pwd)"
        echo "$(pwd)" > $HOME/.credence
        chmod +x ./bin/credence
        chmod +x ./test/compiled-test.sh
        ./bin/credence -t x86_64 -o syscall_test $(pwd)/test/fixtures/x86_64/stdlib/write.b
        ./bin/credence -t x86_64 -o stdlib_test $(pwd)/test/fixtures/x86_64/stdlib/print.b
        ./bin/credence -t x86_64 -o stdlib_putchar_test $(pwd)/test/fixtures/x86_64/stdlib/putchar_1.b
        ./bin/credence -t x86_64 -o stdlib_getchar_test $(pwd)/test/fixtures/x86_64/stdlib/getchar_1.b
        ./bin/credence -t x86_64 -o call_test_1 $(pwd)/test/fixtures/x86_64/call_1.b
        ./bin/credence -t x86_64 -o if_1 $(pwd)/test/fixtures/x86_64/relational/if_1.b
        ./bin/credence -t x86_64 -o while_1 $(pwd)/test/fixtures/x86_64/relational/while_1.b
        ./bin/credence -t x86_64 -o switch_1 $(pwd)/test/fixtures/x86_64/relational/switch_1.b
        ./bin/credence -t x86_64 -o call_test_2 $(pwd)/test/fixtures/x86_64/call_2.b
        ./bin/credence -t x86_64 -o stdlib_printf_test $(pwd)/test/fixtures/x86_64/stdlib/printf_1.b
        ./bin/credence -t x86_64 -o argc_argv $(pwd)/test/fixtures/x86_64/argc_argv.b
        ./test/compiled-test.sh syscall_test
        ./test/compiled-test.sh stdlib_test
        ./test/compiled-test.sh call_test_1
        ./test/compiled-test.sh if_1
        ./test/compiled-test.sh while_1
        ./test/compiled-test.sh switch_1
        ./test/compiled-test.sh call_test_2
        ./test/compiled-test.sh stdlib_putchar_test
        ./test/compiled-test.sh stdin stdlib_getchar_test
        ./test/compiled-test.sh argc argc_argv
        ./test/compiled-test.sh stdlib_printf_test

    - name: build coverage
      if: |
        github.ref == 'refs/heads/master' &&
        startsWith(matrix.os, 'macos') &&
        matrix.compiler == 'clang++'
      run: |
        export PATH=/opt/homebrew/bin:$PATH:/opt/homebrew/opt/llvm/bin:$HOME/.local/bin:
        cmake -Bbuild -DCMAKE_BUILD_TYPE=Debug -DUSE_SANITIZER="Address;Undefined" -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DIWYU=OFF -DENABLE_TEST_COVERAGE=ON
        cmake --build build
        cmake --build build --target coverage

    - name: deploy
      uses: peaceiris/actions-gh-pages@v4
      if: |
        github.ref == 'refs/heads/master' &&
        startsWith(matrix.os, 'macos') &&
        matrix.compiler == 'clang++'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build/coverage_report
        publish_branch: gh-pages
        force_orphan: true

    - name: memcheck
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        # Build for valgrind without -fsanitize
        rm -rf build
        cmake -Bbuild -DCMAKE_CXX_COMPILER=${{ matrix.compiler }} -DCMAKE_BUILD_TYPE=Debug -DBUILD_EXAMPLES=ON
        cmake --build build
        git submodule update --init --recursive
        cd python/chakram
        poetry install
        make install
        cd ../../
        export CREDENCE_ENV_HOME="$(pwd)"
        echo "$(pwd)" > $HOME/.credence
        chmod +x ./bin/credence
        ./bin/credence -t x86_64 -o syscall_test $(pwd)/test/fixtures/x86_64/stdlib/write.b
        ./bin/credence -t x86_64 -o stdlib_test $(pwd)/test/fixtures/x86_64/stdlib/print.b
        valgrind --leak-check=full --show-leak-kinds=all ./syscall_test
        valgrind --leak-check=full --show-leak-kinds=all ./stdlib_test
        valgrind --leak-check=full --show-leak-kinds=all ./build/credence -d $(pwd)/test/fixtures/readme.b
